<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Puddle | Register</title>
</head>

<body class="bg-gradient-to-br from-blue-400 to-blue-300 bg-opacity-90 min-h-screen flex flex-col items-center py-12">

    <!-- Form Section -->
    <div class="bg-white bg-opacity-60 shadow-xl backdrop-blur-md rounded-lg p-8 max-w-lg w-full mb-12">
        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Register Your Account</h1>
        <form class="space-y-6" action="" method="POST">

            {% csrf_token %}

            <!-- Username -->
            <div>
                <label for="first_name" class="block text-sm font-medium text-gray-700 mb-2">First Name</label>
                <input name="first_name" type="text" id="first_name" placeholder="Enter your first name"
                    class="w-full bg-gray-50 border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                    required>
            </div>
            
            <!-- Last Name -->
            <div>
                <label for="last_name" class="block text-sm font-medium text-gray-700 mb-2">Last Name</label>
                <input name="last_name" type="text" id="last_name" placeholder="Enter your last name"
                    class="w-full bg-gray-50 border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                    required>
            </div>
            
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700 mb-2">Username</label>
                <input name="username" type="text" id="username" placeholder="Enter your username"
                    class="w-full bg-gray-50 border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                    required>
            </div>

            <!-- Password -->
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700 mb-2">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter your password"
                    class="w-full bg-gray-50 border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
                    required>
            </div>

            <!-- Submit Button -->
            <button type="submit"
                class="w-full bg-green-600 hover:bg-green-700 text-white font-medium py-3 rounded-lg shadow-lg transition focus:ring-4 focus:ring-blue-300 focus:outline-none focus:ring-opacity-50">
                Register
            </button>
            <div class="text-center mt-4">
                <p class="text-sm text-gray-600 mb-2">Already a user?</p>
                <a href="/login/"
                    class="inline-block w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 rounded-lg shadow-lg transition focus:ring-4 focus:ring-blue-300 focus:outline-none focus:ring-opacity-50">
                    Login
                </a>
            </div>
        </form>
    </div>
</body>

</html>
